.herosec {
    height: 80vh;
    width: 100vw;
    
}

.left{
    height: 80vh;
    width: 50%;
    
}

.right{
    height: 80vh;
    width: 50%;
    
}

/* .bg{
    background-image: url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
}

.bg1{
    
    
} */